@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans");

/* Font for Home Banner */
@font-face {
	font-family: "Sucrose Bold Two";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2")
		format("woff2");
}
@font-face {
	font-family: "IM Fell French Canon Pro";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2")
		format("woff2");
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* Colors / Fonts */
:root {
	--color-white: #f4f4f4;
	--color-gray-light: #d1d1d1;
	--color-black: #222;
	--color-primary: #3184d1;
	--color-primary-light: #a9d0f5;
	--color-danger: #e90000;
	--color-danger-light: #f5b5b5;
	--min-width: 360px;
	--max-width: 1200px;
	--base-font-family: Arial, Helvetica, sans-serif;
	--fancy-font-family: "Lobster", serif;
	--base-padding: 10px;
	font-size: 12px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #211717;
	font-family: "Crimson Text", serif;
	letter-spacing: 2px;
	position: relative;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

/* ----------------- Home Banner ----------------- */

main {
	background: #211717;
	position: relative;
	font-family: "IM Fell French Canon Pro";
	color: whitesmoke;
	font-size: 1.4rem;
	padding: 2rem 25%;
	line-height: 1.6;
}

.banner {
	background: url(PICSA/bg5.jpg) no-repeat;
	padding-top: 61.93333333%;
	background-size: cover;
	font-family: "Sucrose Bold Two";
}

.banner img {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}

.banner h1 {
	position: fixed;
	left: 50rem;
	top: 3rem;
	font-size: 8vw;
	line-height: 0.8;
	text-align: center;
	color: #533412;
	/* text-shadow: -4px 0px 12px rgb(100, 99, 99); */
	width: 50%;
}

.banner h1 span {
	display: block;
	font-size: 8.75vw;
}

/* ----------------- Services ----------------- */

#services {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}

.our-serives {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #4b6587;
	font-size: 5rem;
	margin: 1.3rem 0;
}

.services-h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #eeb76b;
	font-size: 2rem;
}

.services-grid {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.service-box {
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	-webkit-box-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service-box:hover {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

/* 1st service box */
.service1 .ti-bar-chart,
.service1 .services-h4,
.service1 .cta {
	color: #dfa878;
}
.service1:hover {
	border: 2px solid #dfa878;
}

/* 2nd service box */
.service2 .ti-light-bulb,
.service2 .services-h4,
.service2 .cta {
	color: #a55540;
}
.service2:hover {
	border: 2px solid #a55540;
}

/* 3rd service box */
.service3 .ti-money,
.service3 .services-h4,
.service3 .cta {
	color: #ba704f;
}
.service3:hover {
	border: 2px solid #ba704f;
}

.service-box .cta .ti-angle-right {
	font-size: 0.6rem;
}

.service-box > * {
	flex: 1 1 100%;
}

.service1,
.service2,
.service3 {
	height: 100%;
	background-color: #2b2929;
}

/* ----------------- Portfolio ----------------- */
#portfolio {
	background: #706060;
	position: relative;
	font-family: "IM Fell French Canon Pro";
	color: whitesmoke;
	font-size: 1.4rem;
	padding: 1rem 5%;
	line-height: 1.6;
	height: 100%;
}

.gallery-title {
	text-align: center;
	font-size: 45px;
	font-weight: 800;
	font-family: "Montserrat";
	background: -webkit-linear-gradient(#fcedd7, #f8c4a8, #f3a796);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.swiper {
	overflow: visible;
	position: absolute;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	height: 300px;
}

.swiper-slide::after {
	position: absolute;
	content: "";
	inset: 0;
	width: 50%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background: linear-gradient(to bottom right, #b8b8b88f, #ffffff5e);
	margin-left: 25%;
}
.swiper-slide-active::after {
	background: none;
}
.swiper-slide > div {
	text-align: center;
	display: none;
	opacity: 0;
}
.swiper-slide-active div {
	display: block;
	opacity: 1;
}

.swiper-slide h2 {
	font-size: 1.2rem;
	font-family: "Libre Baskerville", serif;
	position: relative;
}

.swiper-slide h2::after {
	position: absolute;
	content: "";
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	background: linear-gradient(#e66465, #9198e5);
}

@keyframes line {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.swiper-slide-active h2::after {
	animation: line 0.5s linear forwards;
}
.swiper-slide img {
	display: block;
	width: 50%;
	object-fit: cover;
	box-shadow: 0px 3px 17px rgb(0 0 0 / 25%);
	border-radius: 50%;
	aspect-ratio: 1/1;
	margin-left: 25%;

	padding-left: 0px;
	padding-right: 0px;
}
.swiper-3d {
	perspective: 400px !important;
}

@media (min-width: 768px) {
	.swiper-slide h2 {
		font-size: 2rem;
	}
}

/* ----------------- Products/ Menu ----------------- */

.products {
	display: grid;
	grid-gap: var(--base-padding);
	overflow: auto;
}

@media screen and (min-width: 600px) {
	.products {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1000px) {
	.products {
		grid-template-columns: repeat(3, 1fr);
	}
}

.product {
	text-align: center;
	padding: var(--base-padding);
	border: 2px dashed var(--color-gray-light);
}

.product:hover {
	border-style: solid;
	cursor: pointer;
}

.product__price:before {
	content: "₱";
}

.product__image {
	max-width: 65px;
	transition: 0.3s all;
	filter: drop-shadow(0px 0px 0px transparent);
}

@media screen and (min-width: 600px) {
	.product__image {
		max-width: 100px;
	}
}

.product:hover .product__image {
	animation: 0.5s shake-product-image;
}

@keyframes shake-product-image {
	25% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* ----------------- Products ----------------- */
.section-add-cart {
	display: flex;
	flex-direction: column;
	max-height: 100vh;

	background: #211717;
	position: relative;
	font-family: "IM Fell French Canon Pro";
	color: whitesmoke;
	font-size: 1.4rem;
	padding: 2rem 25%;
	line-height: 1.6;
}

.product {
	background-color: #191919;
}

button {
	font-family: var(--base-font-family);
	cursor: pointer;
	font-size: 0.95rem;
	border: none;
}

:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.btn {
	padding: 0.65rem 1rem;
	transition: 0.3s all;
}

.btn--small {
	padding: 0.2rem 0.4rem;
}

.btn--primary {
	color: var(--color-white);
	background: var(--color-primary);
}

.btn--primary:hover:not(:disabled),
.btn--primary:focus {
	outline: none;
	box-shadow: 0 0 0 5px var(--color-primary-light);
}

.btn--danger {
	color: var(--color-white);
	background: var(--color-danger);
}

.btn--danger:hover:not(:disabled),
.btn--danger:focus {
	outline: none;
	box-shadow: 0 0 0 5px var(--color-danger-light);
}

/* ----------------- Cart / Orders ----------------- */

.cart {
	display: grid;
	grid-gap: var(--base-padding);
	overflow-x: hidden;
	overflow-y: auto;
}

.cart h3 {
	margin: 0;
}

.cart__item {
	display: grid;
	grid-template-columns: 2rem 7rem 3rem auto 1rem auto auto;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: var(--base-padding);
	border: 2px dashed var(--color-gray-light);
	animation: 0.3s add-cart-item;
}

@keyframes add-cart-item {
	from {
		margin-left: -200px;
		margin-right: 200px;
		opacity: 0;
	}
	to {
		margin-left: 0;
		margin-right: 0;
		opacity: 1;
	}
}

.cart__item--removed {
	animation: 0.3s remove-cart-item;
}

@keyframes remove-cart-item {
	to {
		margin-left: 200px;
		margin-right: -200px;
		opacity: 0;
	}
}

.cart__item__image {
	max-width: 28px;
}

@media screen and (min-width: 600px) {
	.cart__item__image {
		max-width: 38.5px;
	}
}

.cart__item__price:before {
	content: "$";
}

.cart-footer {
	display: flex;
	justify-content: space-between;
	margin-top: var(--base-padding);
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.7);
	cursor: wait;
}

/* ----------------- Contact Us ----------------- */
#contact-us {
	background-color: #f8efef;
	position: inherit;
	padding-bottom: 5%;
}
.contact-title {
	font-family: "Abril Fatface";
	font-size: 52px;
}
.contact-title,
.contact-text,
.grid-container {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	width: 50%;
	margin: 20px 450px 0px;
}

.grid-item {
	padding-top: 5%;
}

.grid-item-title {
	font-size: 18px;
	font-weight: 700;
	font-family: "Abril Fatface";
	color: rgb(175, 174, 174);
}

/* ----------------- Footer ----------------- */

footer {
	height: 80px;
	background-color: #191919;
}

.footer-icons {
	margin: 0 auto;
	padding-top: 20px;
}

.fa {
	margin-left: 5px;
	color: white;
}

footer .fa:hover {
	color: grey;
	transition: 1s;
}
